<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="/search" method="post">
      <div>
        <label for="searchValue">Search:</label>
        <input type="input" id="searchValue" name="searchValue" />
      </div>
      <div>
        <input type="submit" value="Search" />
      </div>
    </form>

    <p><%= msg %></p>
  </body>
</html>
