<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Looping Data with EJS</title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% staffList.forEach((staff) => { %>
            <li> <%= staff.name %>  <%= staff.job %> </li>
        <% }) %>
    </ul>   
</body>
</html>